<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>21126058-21126076</title>

    <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-hexashop.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
        <link rel="stylesheet" href="assets/css/main.css">
                <link rel="stylesheet" href="/assets/css/fontawesome.css">


</head>
<body>
    <header>
        {{> header}}
    </header>

    <main>
          <div class="promotions">
    <h2 class="section-subtitle">Promotional Programs</h2>
    <ul class="promotion-list">
      <li class="promotion-item">Buy 1 Get 1 Free on selected items!</li>
      <li class="promotion-item">20% off on your first purchase!</li>
      <li class="promotion-item">Free shipping on orders over $50!</li>
    </ul>
  </div>
   <div class="advertisement">
    <h2 class="section-subtitle">Advertisements</h2>
    <div class="ad-banner">
      <img src="https://blankroom.co/cdn/shop/articles/gioi-thieu-thuong-hieu-gucci.png?v=1711423709" alt="Ad Banner" class="ad-image">
      <p class="ad-text">Check out our latest offers!</p>
    </div>
  </div>
</div>
         {{#if success}}
        <div class="alert alert-success">
            {{success}}
        </div>
        {{/if}}
        {{{body}}} <!-- Render nội dung cụ thể -->
    </main>

    <footer>
        {{> footer}}
    </footer>
</body>
</html>
