<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- Logo -->
                    <a href="/" class="logo">
                        <img src="/assets/images/logo.png" alt="Hexashop Logo">
                    </a>
                    <!-- Import partial navigation -->
                    {{> navigation}}
                    <!-- Mobile Menu Trigger -->
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                </nav>
            </div>
        </div>
    </div>
</header>
