<nav>
    <ul class="nav">
        <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
        <li class="scroll-to-section"><a href="/products">Products</a></li>
        <li class="scroll-to-section"><a href="/users/register">Register</a></li>
        <li class="submenu">
            <a href="javascript:;">Pages</a>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/single-product">Single Product</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </li>
    </ul>
</nav>
